@import url(https://fonts.googleapis.com/css?family=Rancho);

div {
    background-color: #F4F4F4;
    border: 1px black solid;
    padding: 20px;
}

header {
    background-color: #C0B283;
    border: 1px black solid;
    padding: 5px;
    height: 220px;
}

aside {
    background-color: #C0B283;
    border: 1px black solid;
    padding: 20px;
    width: 400px;
    height: 1550px;
    float: left;
}

nav {
    background-color: #373737;
    border: 1px black solid;
    padding: 5px;
    height: 480px;
    width: 350px;
}

article {
    background-color: #DCD0C0;
    border: 1px black solid;
    padding: 20px;
    width: 750px;
    height: 1500px;
    float: right;
}

footer {
    background-color: #C0B283;
    border: 1px black solid;
    padding: 20px;
    height: 50px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
    background-color: black;
    font-family: 'Verdana', sans-serif;
    color: white;
}

h1 {
	font-weight: bold;
	text-decoration: underline;
	font-size: 3em;
	font-family: 'Rancho', cursive;
	text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.5em;
  margin: 2em;
}

#slogan {
	font-family: 'Rancho', cursive;
	font-size: 2em;
}

ul {
	  margin: 4em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
